*{
  /* RESETTING THE TIME */
  margin: 0;
  padding: 0;

  /* FONTSIZE 10 TO WORK WITH REM IN THE FOLLOWING */
  font-size: 10px;


  font-family: 'Avenir', sans-serif;
}

body{
  font-size: 1.6rem;
  /* SET HEIGHT FOR LOGINPAGE */
  width: 100%;
  height: 100vh;

}


.CenterMe{

  height:  50rem;
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;


}