*{
  /* RESETTING THE TIME */
  margin: 0;
  padding: 0;

  /* FONTSIZE 10 TO WORK WITH REM IN THE FOLLOWING */
  font-size: 10px;


  font-family: 'Avenir', sans-serif;
}

body{
    font-size: 1.6rem;
  /* SET HEIGHT FOR LOGINPAGE */
    background-color: linear-gradient(45deg, rgba(145,214,181,1) , rgba(98,102,173,1));
}

.wrap-all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


      width: 100%;
    height: 100vh;
}

.CenterMe{

  height:  50rem;
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #FFF;
  border-radius: .3rem;
  box-shadow: .5rem 2.5rem 6rem rgba(0, 0, 0, .2);
}

.Startpage{

}

.inputs{
  width: 30rem;


}
.inputs-btn{


}

.btn-login{

}

.Dashboard{

}

.Userdata{

}

.Logout{

}

.Main{

}

.Befehle{

}

.content{

}

.title{

}

.desc{

}

.Datum{

}



